* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body {
    font-family: 'Manrope', sans-serif;
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 89px;
    margin-bottom: 74px;
}
header h2 {
    Font-size: 20px;
    Line-height: 27px;
    color: #293356;
    text-align: center;
    margin-bottom: 8px;
}
header p {
    Font-size: 13px;
    Line-height: 23px;
    color: #848EAD;
    text-align: center;
}
.pattern-circles {
    position: absolute;
    top: -30px;
}
main {
    border-radius: 5px;
    height: 500px;
    width: 327px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    margin-bottom: 80px;
}
main h3 {
    padding-top: 38px;
    Font-size: 12px;
    Line-height: 16px;
    color: #848EAD;
    text-align: center;
    margin: 0 0 43px 0;
}
.line {
    position: relative;
    margin: 0 24px;
}
.line input {
    background-color: #ECF0FB;
    width: 279px;
    height: 8px;
    border-radius: 5px;
    -webkit-appearance: none;
}
#slider::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    z-index: 3;
    width: 40px;
    height: 40px;
    background: #10D8C4;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    cursor: pointer;
}
#slider::-webkit-slider-thumb:hover{
    background: #24AEA1;
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.progress {
    position: absolute;
    height: 8px;
    width: 50%;
    background-color: #A4F3EB;
    border-radius: 5px;
    left: 0px;
    top: 8px;
}
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
}
.dolar {
    display: flex;
    color: #293356;
    Font-size: 32px;
    Line-height: 44px;
    Letter-spacing: -0.8px;
}
.price p {
    color: #848EAD;
    Font-size: 14px;
    Line-height: 19px;
}
.sw-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 48px;
}
.sw-cont p, .check p {
    color: #848EAD;
    Font-size: 12px;
    Line-height: 16px;
}
.sw {
    position: relative;
    display: flex;
    align-items: center;
    width: 43px;
    height: 22px;
    background: #CFD8EF;
    transition: .4s;
    cursor: pointer;
    border-radius: 15px;
}
.sw input {
   display: none;
}
.check2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 15px;
}
.check2:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    cursor: pointer;
}
input:checked + .check2 {
    background-color: #7AEADF;
}
input:checked + .check2:before {
    transform: translateX(21px);
}
.persent-m {
    color: #FF8D68;
    Font-size: 10px;
    Line-height: 14px;
    padding: 2px 8px;
    background-color: #FEEDE8;
    border-radius: 10px;
}
.persent-t {
    display: none;
}
.stick {
    background: #ECF0FB;
    width: 100%;
    height: 1px;
    margin-bottom: 24px;
}
.check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 11px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button {
    width: 170px;
    height: 41px;
    color: #BECDFF;
    cursor: pointer;
    border-radius: 20px;
    background: #293356;
    margin: 20px 0 32px 0;
}

@media screen and (min-width: 900px) {
    body {
        background-size: contain;
    }
    header h2 {
        Font-size: 28px;
        Line-height: 38px;
        margin-bottom: 12px;
    }
    header p {
        Font-size: 15px;
        Line-height: 20px;
        width: 367px;
        height: 20px;
        text-align: center;
    }
    .br br {
        display: none;
    }
    header {
        margin-top: 104px;
        margin-bottom: 92px;
    }
    main {
        width: 540px;
        height: 450px;
    }
    .cont-3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }
    .line {
        position: absolute;
        top: 150px;
    }
    .cont-3 h3 {
        padding-top: 38px;
        Font-size: 14px;
        Line-height: 19px;
        text-align: center;
        margin: 0 0 43px 0;
    }
    #slider {
        width: 444px;
    }
    .progress {
        left: 0px;
    }
    .price h2 {
        Font-size: 40px;
        Line-height: 55px;
        Letter-spacing: -1px;
    }
    .price p {
        Font-size: 16px;
        Line-height: 22px;
    }
    .sw-cont {
        gap: 20px;
        margin-bottom: 48px;
        margin-top: 100px;
    }
    .persent-m {
        display: none;
    }
    .persent-t {
        display: block;
        color: #FF8D68;
        Font-size: 10px;
        Line-height: 14px;
        padding: 2px 8px;
        background-color: #FEEDE8;
        border-radius: 10px;
    }
    footer {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .check-cont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1900px) {
    body {
        background-size: 100%;
    }
}